<ion-view view-title="Depenses">
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-plus" ng-click="add()"></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader  row bar-positive">
      <div class=" col">Catégorie</div>
      <div class="col">Compte</div>
      <div class="col">Montant</div>
      <div class="col">Date</div>
  </div>

  <ion-content class="has-subheader">

    <ion-list >

      <ion-item  class="row-tab-no-padding" ng-repeat="depense in depenses">
        <div class="row ">
          <div class="col"  >{{getDesignationCategorie(depense.idCategorie)}}</div>
          <div class="col" >{{getDesignationCompte(depense.idCompte)}}</div>
          <div class="col" >{{depense.montant | number : 2}}</div>
          <div class="col" >{{depense.dateCreation | date: 'dd/MM/yyyy'}}</div>
        </div>
        <ion-option-button class="button button-positive" ng-click="edite($index)">
          Editer
        </ion-option-button>
        <ion-option-button class="button button-positive" ng-click="delete($index)">
          Supprimer
        </ion-option-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
